a.nav-btn {
  text-decoration: none;
  color: black;
  padding: 5px;
  margin: 10px;
  position: relative;
}

a.nav-btn.active::after {
  position: absolute;
  right: 0;
  bottom: -1px;
  left: 0;
  height: 3px;
  background: #0084ff;
  content: "";
}

mat-spinner.loading-spinner.mat-spinner.mat-progress-spinner.mat-accent.mat-progress-spinner-indeterminate-animation {
  position: fixed;
  z-index: 100;
  top: 40%;
  left: 50%;
  margin-left: -50px;
  /* transform-origin: left; */
}
