<mat-toolbar>
  <a
    [class.active]="info.isActive"
    *ngFor="let info of navBtnInfos"
    class="nav-btn"
    (click)="navBtnToggle(info)"
    >{{ info.name }}</a
  >
</mat-toolbar>
<mat-spinner *ngIf="isLoading" class = "loading-spinner" color = "accent"></mat-spinner>
<mat-card class="story-card" *ngFor="let story of topStories">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>{{ story.target.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ story.target.excerpt }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" [routerLink] = "['/question', story.target.id]">看看</button>
    <!-- <button mat-button>SHARE</button> -->
  </mat-card-actions>
</mat-card>
