
svg.Icon.ZhihuLogo.ZhihuLogo--blue.Icon--logo {
  margin-left: 16px;
  fill: white;
  color: white;
  margin-top: 4px;
}

.toolbar {
  height: 60px;
  margin: -8px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover {
  opacity: 0.8;
}

.content {
  display: flex;
  margin: 32px auto;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

a.nav-btn {
  text-decoration: none;
  color: white;
  padding: 5px;
  margin: 15px;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0 7px 8px -4px rgba(0,0,0,.2), 0 12px 17px 2px rgba(0,0,0,.14), 0 5px 22px 4px rgba(0,0,0,.12);
}





